<%- include('../_header.ejs') -%>

<div class="row post">
    <div class="column column-67 body">
		<h2><%= title %></h2>
		<div class="taglist">
        	<span><%= author %></span><span class="seperator">|</span>
            <% if (tags) { %>
                    <ul><% for(var i=0; i<tags.length; i++) {%>
                        <li><a class="tag-select" href="/<%= tags[i] %>.html"><%= tags[i] %></a></li>
                    <% } %></ul>
            <% } %>
            <span class="seperator">|</span>
            <a href="#comments">comments</a>
        </div>
        <p><em>Posted on <%= date.toLocaleString('en-CA') %></em></p>
		<%- body %>
		<div id="comments">
            <h2>Comments</h2>
        </div>
		<script>
			window.rpc_host = 'https://rpc.dyuproject.com';
			window.comments_max_depth = 10; // max: 127
			window.comments_collapse_depth = 7; // the depth where comments get collapsed by default
		</script>
		<script src="https://netlify-comments.dyuproject.com/dist/build.js"></script>
		<link rel="stylesheet" href="https://netlify-comments.dyuproject.com/dist/build.css" />
	</div>
	<%- include('../_menu.ejs') -%>
</div>
<%- include('../_footer.ejs') -%>
