<%- include('../_header.ejs') -%>

<p><a href="../index.html">&larr; <%= root.data.title %></a></p>

<div class="row">
    <div class="column column-75 body">
		<h1><%= title %></h1>
		<%- body %>
		<p><em>Posted on <%= date.toDateString() %>.</em></p>
		<div id="comments"></div>
		<script>
			window.rpc_host = 'https://rpc.dyuproject.com';
			window.comments_max_depth = 10; // max: 127
			window.comments_collapse_depth = 7; // the depth where comments get collapsed by default
		</script>
		<script src="https://netlify-comments.dyuproject.com/dist/build.js"></script>
		<link rel="stylesheet" href="https://netlify-comments.dyuproject.com/dist/build.css" />
	</div>
	<%- include('../_menu.ejs') -%>
</div>
<%- include('../_footer.ejs') -%>
