<!DOCTYPE html>
<html>
<head>
<title><%= root.data.title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Embed Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Palette+Mosaic&family=Rock+3D&&display=swap" rel="stylesheet">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
<link rel="stylesheet" href="<%= rootPath %>/index.css">
<script src="<%= rootPath %>/script.js"></script>

<link rel="alternate" type="application/rss+xml" href="rss.xml" title="<%= rootPath %>/<%= root.data.title %> RSS">
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>
<nav class="responsive" id="responsive-menu">
    <a href="/archive.html">Archive</a>
    <a href="/suggest.html">Make a suggestion</a>
	<a href="javascript:void(0);" class="menu-toggle">...</a>
</nav>
<main class="wrapper">
<section class="container">
<div class="row">
    <h1><a href="/">nosebleeds</a></h1>
</div>
