<%- include('_header.ejs') -%>
<p><a href="../index.html">&larr; back</a></p>
<div class="row">
    <div class="column column-67 body">
        <h2>Archive</h2>
        <% const sortable = {};
            for (const prop in posts) {
                if (prop === 'root') {
                    continue
                }
                const key = Date.parse(posts[prop].date);
                posts[prop].slug = prop;
                sortable[key] = posts[prop];
            }
        %>
        <% for (const date of Object.keys(sortable).sort(([,a],[,b]) => a-b).reverse().slice(0, 10)) { const {name, title, body, author, tags, slug, shorty} = sortable[date]; -%>
            <% const formatted_date = new Date(parseInt(date)); %>
            <div class="post-teaser">
                <h3><a href="posts/<%= slug %>.html"><%= title %></a></h3>
                <div class="date"><%= formatted_date.toLocaleString('en-CA') %></div>
                <div class="taglist">
                    <span><%= author %></span><span class="seperator">|</span>
                    <% if (tags) { %>
                            <ul><% for(var i=0; i<tags.length; i++) {%>
                                <li><a class="tag-select" href="#<%= tags[i] %>"><%= tags[i] %></a></li>
                            <% } %></ul>
                    <% } %>
                    <span class="seperator">|</span>
                    <a href="posts/<%= slug %>.html#comments">comments</a>
                </div>
            </div>
        <% } -%>
    </div>
    <div class="column column-33 menu">
        <nav>
            <ul>
                <li><a href="/archive.html">Archive</a></li>
                <li><a href="/suggest.html">Make a suggestion</a></li>
            </ul>
        </nav>
    </div>
</div>

<%- include('_footer.ejs') -%>
