<%- include('_header.ejs') -%>
<p><a href="../index.html">&larr; back</a></p>
<div class="row">
    <div class="column column-75 body">
        <h1>Archive</h1>
        <% for (const name of Object.keys(posts).reverse()) { const {date, title, author, tags} = posts[name]; -%>
            <div class="post-teaser">
                <h3><a href="posts/<%= name %>.html"><%= title %></a> — <%= date.toDateString() %></h3>
                <div class="taglist">
                <span><%= author %></span><span class="seperator">|</span>
                    <% if (tags) { %>
                            <ul><% for(var i=0; i<tags.length; i++) {%>
                                <li><a class="tag-select" href="#<%= tags[i] %>"><%= tags[i] %></a></li>
                            <% } %></ul>
                    <% } %>
                </div>
            </div>
        <% } -%>
    </div>
    <div class="column column-25 menu">
        <nav>
            <ul>
                <li><a href="/archive.html">Archive</a></li>
                <li><a href="/suggest.html">Make a suggestion</a></li>
            </ul>
        </nav>
    </div>
</div>

<%- include('_footer.ejs') -%>
