<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>

<title><%= data.title %></title>
<link><%= data.link %></link>
<description>A minimal blog template for tinyjam.</description>
<atom:link href="<%= data.link %>/rss.xml" rel="self" type="application/rss+xml" />
<% const sortable = {};
       for (const prop in posts) {
           if (prop === 'root') {
               continue
           }
           const key = Date.parse(posts[prop].date);
           posts[prop].slug = prop;
           sortable[key] = posts[prop];
       }
   %>
   <% for (const date of Object.keys(sortable).sort(([,a],[,b]) => a-b).reverse().slice(0, 10)) { const {title, body, slug} = sortable[date]; -%>
<item>
     <title><%= title %></title>
     <link><%= data.link %>/posts/<%= slug %>.html</link>
     <guid><%= data.link %>/posts/<%= slug %>.html</guid>
     <description><![CDATA[<%- body.trim() %>]]></description>
</item>
<% } -%>

</channel>
</rss>
